<div id="bg" *ngIf="quote && background && !inSpace" [style.background-color]="background">
      <div id="miggy" [style.background-image]="image"></div>
      <div id="miggyism" *ngIf="quote">{{quote.text}}</div>
</div>
<div id="bg" *ngIf="quote && background && inSpace" style="background-color: #333">
  <div id="miggybg" [style.background-image]="background">
    <div id="miggy" [style.background-image]="image"></div>
    <div id="miggyism" *ngIf="quote">{{quote.text}}</div>
  </div>
</div>
<button id="refresh" (click)="getQuotes(true)"></button>
<button id="share" ngxClipboard [cbContent]="urlLink" [disabled]="isCopied1" (cbOnSuccess)="isCopied1 = true"></button>
<button id="admin" routerLink="/admin"></button>
<button id="up" (click)="upVoteQuote()" [disabled]="isUpVoted"></button>
<input hidden="true" type="text" [(ngModel)]="urlLink" #url/>
